
00_*/
addons/
animation/
Debug*/
Release*/
*.app/
_max_ddd/
output/ping/**.png
output/gif/**.gif

#XCode
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
#XCode 4
xcuserdata
*.xcworkspace

#OSX
.DS_Store
*.swp
*‾.nib
# Thumbnails
._*


# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
